body{
    margin: 0px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.info{
    padding: 40px;
}
.image img{
    padding: 35px 50px 0px 0;
}
.banner .info h1{
    font-size: 3.5em;
    text-align: left;
    padding: 0;
    margin-bottom: 0px;
}
.banner .info p {
    padding: 0;
}
.banner .info h3 {
    background-color: red;
    border-radius: 5px;
    width: 100px;
    padding: 10px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 60%;
}
.blog-post{
    border: 1px solid rgb(233, 231, 231);
    margin: 10px;
    margin-right: 50px;
    width: 82%;
    border-radius: 12px;
}
.blog-image img{
    width: 280px;
}
.caption{
    padding-left: 20px;
}
.timendcomment{
    display: flex;
    align-items: center;
}
.timendcomment img{
    padding-left: 20px;
    height: 20px;
}
.middle-part{
    display: flex;
    padding-top: 60px;
    padding-bottom: 40px;
    margin-left: 55px;
}
.menu{
    background-color: black;
    height: 200px;
    width: 150px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 12px;
    margin-left: 10px;
    border-radius: 10px;
}
.menu h2{
    width: 150px;
    height: 30px;
    padding-top: 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
}
.white-btn{
    background-color: white;
}
.red-btn{
    background-color: red;
    color: white;
}
a{
    text-decoration: none;
}
a:visited{
    color: black;
}
.more{
    text-align: center;
    color: white;
    background-color: red;
    display: none;
}
footer{
    background-color: rgb(31, 30, 30);
    color: whitesmoke;
    padding: 80px 0px;
}
h1{
    text-align: center;
    padding-bottom: 20px;
}
hr{
    margin: 0px 80px;
    height: 1px;
    border: none;
    background-color: gray;
}
footer{
    width: 100%;
}

.foot{
    display: flex;
    justify-content: space-evenly;
    margin: 0px 300px;
    padding-top: 10px;
}
.flag{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}
.flag img{
    height: 50px;
    width: 80px;
}
.time{
    text-align: center;
}

@media screen and (max-width: 688px) {
    body{
        margin: 0px;
    }
    .banner{
        width: 90%;
        flex-direction: column;
    }
    .image img{
        padding-left: 40px;
        width: 80%;
    }
    .banner .info h1{
        font-size: 2em;
        text-align: center;
    }
    .banner .info p{
        text-align: center;
    }
    .banner .info h3{
        margin-top: 40px;
        margin-left: 80px;
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    .middle-part{
        flex-direction: column;
        margin: 0px 50px;
    }
    .middle-part .menu{
        align-self: center;
    }
    .menu{
        background-color: white;
    }
    .menu h2{
        border: 1px solid rgb(218, 215, 215);

    }
    .foot{
        flex-direction: column;
        justify-content: center;
    }
    .foot h4{
        margin-right: 200px;
        align-self: center;
    }
}
@media screen and (min-width: 689px) and (max-width: 992px) {
    body {
            margin: 0px;
        }
    
    .banner {
            width: 90%;
        }
    
    .image img {
            padding-left: 40px;
            width: 80%;
        }
    
    .banner .info h1 {
            font-size: 2em;
            text-align: left;
        }
    
    .banner .info p {
            text-align: left;
        }
    
    .banner .info h3 {
            margin-top: 40px;
        }
    
    .blogs {
            width: 100%;
            grid-template-columns: repeat(2, 1fr);
        }
    
    .middle-part {
            flex-direction: column;
            margin: 0px 50px;
        }
    
    .middle-part .menu {
            align-self: center;
        }
    
    .menu {
            width: 100%;
            height: 60px;
            padding-left: 0px;
            background-color: white;
            display: flex;
            justify-content: space-between;
        }
    .blog-post{
            width: 90%;
        }
    .blog-image img{
            width: 100%;
        }
    
    .menu h2 {
            border: 1px solid rgb(218, 215, 215);
            margin: 0px 30px;
        }
    .more{
        display: inline-block;
        margin-left: 350px;
        margin-bottom: 20px;
        padding: 0px 10px;
    }
    footer{
            width: 100%;
        }
    
    .foot {
            width: 100%;
            margin: auto;
            display: flex;
            justify-content: space-around;
        }
    
    .foot h4 {
            width: 80px;
            align-self: center;
        }
}